safetensors
gradio_logsview@https://huggingface.co/spaces/cocktailpeanut/gradio_logsview/resolve/main/gradio_logsview-0.0.17-py3-none-any.whl
pyyaml
oyaml
python-dotenv
huggingface_hub
gradio
python-slugify
pydantic==2.9.2
